@import url('https://fonts.googleapis.com/css?family=Courgette');

html,
body {
  height: 100%;
}

body {
  background: url('assets/hip-square.png');
}

header {
  background: #f2ebe4;
  width: 100%;
  border-bottom: 1px solid #ffb9df;
  box-shadow: 0 0 2px 2px #ffd8d8;
}

.heading {
  font-family: 'Courgette', cursive;
  color: #333;
  padding: 0 15px;
  word-spacing: -15px;
}

.heading-amp {
  color: #e05e9a;
  display: inline-block;
  transform: rotate(-5deg);
  font-size: 55px;
}

.container {
  position: relative;
  height: calc(100% - 95px);
  max-width: 860px;
  margin: 20px auto 0;
  background: url('assets/grass.png') repeat-x center bottom;
  background-size: contain;
}

.container::before,
.container::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 150px;
}

.container::before {
  left: 0;
  transform: translateX(-55%);
  background: url('assets/cow.png') no-repeat;
  background-position: bottom;
  background-size: contain;
}

.container::after {
  right: 0;
  transform: translateX(55%);
  background: url('assets/bull.png') no-repeat;
  background-position: bottom;
  background-size: contain;
}

.rules {
  font-size: 14px;
  line-height: 18px;
}

.assumptions-list {
  margin: 10px 0;
}

.assumptions-list-item {
  margin-bottom: 2px;
  padding: 2px 8px;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 0 0 0px 2px #fff3cd;
  background: #f2ebe4;
  font-size: 14px;
}

.assumptions-list-item-success {
  height: 150px;
  line-height: 140px;
  text-align:  center;
  background: #e5f2e4;
  box-shadow: 0 0 0px 2px #009662;
  font-weight:  600;
  font-size: 42px;
  color: #28a745;
  border-radius: 10px;
}